<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361031079037-9cjlqon7p4u3dj0n980tvk3qmrcnsqr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361031079037-9cjlqon7p4u3dj0n980tvk3qmrcnsqr1</string>
	<key>API_KEY</key>
	<string>AIzaSyBqpU8uR6KzI0bQXnBMEKabhqpVGmH45Hk</string>
	<key>GCM_SENDER_ID</key>
	<string>361031079037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.onumbu.neverhaveiever</string>
	<key>PROJECT_ID</key>
	<string>never-have-i-ever-33f44</string>
	<key>STORAGE_BUCKET</key>
	<string>never-have-i-ever-33f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361031079037:ios:e9d54f061a3e20ab6a0d14</string>
	<key>DATABASE_URL</key>
	<string>https://never-have-i-ever-33f44.firebaseio.com</string>
</dict>
</plist>